:root {
    /* font */
    --fontbase: 'Heebo', sans-serif;
    --regular: 400;
    --medium: 500;
    --bold: 700;
    /* colores */
    --blanco: #FFFFFF;
    --celeste: #00A8CC;
    --azul: #21243D;
}

body {
    font-family: var(--fontbase);
    background-color: var(--blanco);
    padding: 30px;
    color: var(--azul);
}

hr {
    margin: 0;
}

/* HEADER */
header {
    margin-block-end: 30px;
    position: sticky;
    /*para que el menu nos persiga*/
    top: 0;
    background-color: var(--blanco);
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header nav ul li {
    margin: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: var(--medium);
}

header nav ul li a:hover {
    color: var(--celeste);

}

/* INICIO */
.inicio {
    margin-block-end: 50px;
}

.inicio .presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inicio .presentacion h2 {
    font-weight: var(--bold);
    font-size: 44px;
    margin-block-end: 15px;
}

.inicio .presentacion p {
    font-weight: var(--regular);
    font-size: 16px;
    margin-block-end: 15px;
}

.inicio .presentacion button {
    padding: 10px;
    border-radius: 3px;
    background-color: var(--celeste);
    border-style: none;
    font-weight: var(--medium);
    color: var(--blanco);
}

.inicio .presentacion button:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.47);
}

.inicio .imagen img {
    box-shadow: 5px 5px 15px 2px rgba(237, 247, 250, 1);
}

/* blog */
.blog {
    background-color: #EDF7FA;
    padding: 30px;
}

.blog h3 {
    margin-block-end: 30px;
    font-weight: var(--regular);
    font-size: 22px;
}

.blog .post h4 {
    font-weight: var(--bold);
    font-size: 26px;
    margin-block: 20px;
}

.blog .post .info-blog {
    margin-block-end: 10px;
}

.blog .post .info-blog p {
    display: inline;
    margin-inline-end: 10px;
    font-size: 18px;
    font-weight: var(--regular);
}

.blog .post p {
    margin-block-end: 10px;
    font-size: 16px;
    font-weight: var(--regular);
}


/* proyectos */

.proyectos {
    margin-block-end: 50px;
}

.proyectos h3 {
    margin-block-start: 30px;
    margin-block-end: 10px;
    font-weight: var(--regular);
    font-size: 22px;
}

.proyecto {
    margin-block-end: 20px;
    margin-block-start: 20px;
}

.proyectos .proyecto .info-proyectos {
    padding-inline-start: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proyectos .proyecto .info-proyectos h4,
h6 {
    font-weight: var(--bold);
    margin-block-end: 10px;
}

.proyectos .proyecto .info-proyectos p {
    font-weight: var(--regular);
}

/* hablemos */
.hablemos {
    margin-block-end: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ;
}

.hablemos h3 {
    margin-block-end: 20px;
    font-weight: var(--bold);
    font-size: 44px;
    display: flex;
    justify-content: center;
}

.hablemos form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-block-end: 50px;
}

.hablemos form input,
textarea {
    margin-block-end: 15px;
}

.hablemos form button {
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 3px;
    background-color: var(--azul);
    border-style: none;
    font-weight: var(--medium);
    color: var(--blanco);
    align-self: center;
}

.hablemos form button:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.47);
}

/* footer */
footer {
    margin-block-start: 50px;
}

footer .redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .redes i {
    display: inline;
    margin: 10px;
    color: var(--azul);
}

@media only screen and (max-width: 575px) {

    header {
        position: initial;
    }

    .inicio .imagen img {
        margin-block-start: 40px;
    }

    .proyectos .proyecto .info-proyectos {
        padding-inline-start: 0px;
    }

    .proyectos .proyecto .imagen-proyectos {
        padding: 0px;
        margin-block-end: 15px;
    }

}